* {
    -fx-font-family: "Fira Code Medium";
    -fx-font-size: 16;
}

HBox, VBox{
    -fx-padding: 0.5em;
    -fx-spacing: 0.5em;
}

GridPane {
    -fx-hgap: 0.5em;
    -fx-vgap: 0.5em;
    -fx-padding: 0.5em;
}